Multivariate Linear Regression Model \
Bilal Rahim \
Desc : Finding the most suitable theta values for the given data set using **Linear Descent**

In [ ]:
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
corpus = open('/content/drive/My Drive/Data Sets/student-data.txt').read()

In [ ]:
corpus

In [ ]:
#Pre-processing

corpus = corpus.split('\n')
corpus.remove(corpus[0])
data = []
for stu in corpus:
  temp = stu.split('\t')
  data.append(temp)
temp = []
for stud in data:
  _,temp_split = stud[0].split(' ')
  stud[0] = temp_split 
  stud = [1] + stud  #To insert 1 at the starting for x0.
  stud = [float(score) for score in stud] #To convert from string to float.
  temp.append(stud)
data = temp

In [ ]:
data

[[1.0, 6.25, 3.75, 5.76, 7.5, 24.11, 9.0, 56.39],
 [1.0, 7.0, 4.75, 8.84, 8.5, 35.29, 9.5, 73.89],
 [1.0, 9.75, 10.0, 3.07, 6.5, 35.29, 7.5, 72.12],
 [1.0, 9.75, 9.75, 2.69, 5.5, 28.82, 5.5, 62.02],
 [1.0, 5.5, 1.5, 4.03, 8.0, 24.11, 7.5, 50.66],
 [1.0, 7.25, 5.0, 8.84, 6.5, 28.23, 7.5, 63.33],
 [1.0, 9.87, 9.75, 4.61, 10.0, 31.17, 6.5, 71.92],
 [1.0, 9.0, 9.75, 4.61, 7.5, 22.35, 7.5, 60.72],
 [1.0, 9.87, 10.0, 6.92, 10.0, 42.35, 9.0, 88.15],
 [1.0, 9.0, 8.5, 2.3, 5.0, 22.94, 6.0, 53.75],
 [1.0, 9.87, 9.75, 6.15, 9.0, 28.23, 7.0, 70.01],
 [1.0, 9.75, 9.75, 6.53, 9.0, 37.05, 9.5, 81.6],
 [1.0, 9.75, 10.0, 5.0, 5.0, 26.47, 8.0, 64.22],
 [1.0, 9.75, 10.0, 7.69, 10.0, 30.0, 10.0, 77.44],
 [1.0, 5.0, 4.75, 1.53, 5.5, 22.35, 6.0, 45.14],
 [1.0, 9.62, 8.75, 8.84, 5.0, 27.05, 10.0, 69.28],
 [1.0, 8.87, 8.5, 6.73, 6.0, 24.7, 8.0, 62.81],
 [1.0, 6.75, 8.75, 6.53, 6.0, 14.11, 5.0, 47.16],
 [1.0, 8.87, 9.75, 5.0, 9.5, 35.88, 6.0, 75.01],
 [1.0, 6.5, 9.5, 6.15, 5.5, 22.35, 6.0, 56.01],
 [1.0, 4.75, 4.25, 1.73, 7.0, 31.17, 7.5, 56.41],
 [1.0, 6.75, 4.5, 5.76, 0.0, 32.94, 6.0, 55.96],
 [1.0, 9.25, 7.25, 3.46, 7.5, 34.11, 10.0, 71.58],
 [1.0, 9.62, 9.75, 5.76, 0.0, 27.05, 6.5, 58.7],
 [1.0, 8.87, 7.5, 5.0, 0.0, 33.52, 9.5, 64.4],
 [1.0, 7.25, 7.0, 4.23, 0.0, 28.82, 8.5, 55.8],
 [1.0, 9.75, 9.75, 5.38, 8.0, 35.29, 8.5, 76.68],
 [1.0, 9.87, 9.75, 5.38, 9.0, 38.23, 9.0, 81.24],
 [1.0, 9.75, 10.0, 6.53, 6.0, 31.17, 8.0, 71.46],
 [1.0, 9.0, 7.5, 4.61, 7.0, 21.17, 5.0, 54.29],
 [1.0, 9.62, 9.75, 7.3, 6.5, 25.88, 7.0, 66.07],
 [1.0, 9.5, 9.0, 6.15, 8.0, 30.58, 5.5, 68.74],
 [1.0, 9.37, 9.0, 2.3, 6.0, 35.88, 10.0, 72.57],
 [1.0, 8.87, 8.25, 5.76, 6.0, 34.11, 6.5, 69.51],
 [1.0, 9.37, 9.25, 6.53, 5.5, 27.05, 7.0, 64.72],
 [1.0, 9.25, 9.12, 3.07, 7.5, 29.41, 5.0, 63.36],
 [1.0, 9.37, 8.12, 4.23, 6.0, 25.29, 6.0, 59.02],
 [1.0, 9.12, 5.5, 8.07, 6.0, 15.29, 7.5, 51.5],
 [1.0, 7.25, 7.87, 5.0, 0.0, 27.05, 6.0, 53.18],
 [1.0, 8.25, 3.5, 3.07, 8.0, 21.76, 7.0, 51.59]]

**Total number of features** = 6 \

**Hypothesis** \
**ht(x)** = 1t0 + x1 * t1 + x2 * t2t + x3 * t3 + x4 * t4 + x5 * t5 + x6 *t6 \
Cost Function = 1/2m sum from 0 to i (ht(xi) - y (i))^2

In [ ]:
#Hypothesis Function
def hypothesis(theta_arr,stu):
  return theta_arr.dot(stu) #Taking dot product using numpy

In [ ]:
#Function to calculate slope
def slope(theta_arr, data, i):
  sum = 0
 
  for stu in data:
    temp = (hypothesis(theta_arr, np.array(stu[:7])) - stu[-1])*stu[i]
    sum += temp
  return 1/40 * sum

In [ ]:
#Cost Function
def cost_f(theta_arr, d):
  sum = 0
 
  for stu in data:
    temp = (hypothesis(theta_arr, np.array(stu[:7])) - stu[-1])**2
    sum += temp
    
  return 1/80 * sum

In [ ]:
#Generating random theta values.
#linspace generates random theta values.
theta_arr = np.linspace(0,1,7) # 0 to 1, 7 random values.

In [ ]:
print("Cost Before Gradient Descent \nCost : ",cost_f(theta_arr,data),'\nTheta Values : ' ,theta_arr)

Cost Before Gradient Descent
Cost :  247.96787020833347
Theta Values :  [0.         0.16666667 0.33333333 0.5        0.66666667 0.83333333
 1.        ]

**Using Gradient Descent to minimize cost**

In [ ]:
learn_rate = 0.001 #Learning rate

for j in range(0,6):
  temp = theta_arr[j]
  for i in range(50):
    cost = learn_rate * slope(theta_arr,data,j)
    temp = temp - cost
    theta_arr[j] = temp

Cost After Gradient Descent
Cost :  1.780381712678215
Theta values :  [1.0721384  2.54853735 0.39698514 0.53426828 0.68876954 0.82777484
 1.        ]